{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello HR-manager! </h1>


    This is results of the task:
    <ul>
        <li>
            <p>Top 30 Orders:</p>
            <table>
                <thead>
                    <th>Title</th>
                    <th>Quantity</th>
                </thead>
                <tbody>
                    {% for row in top30Orders %}
                        <tr>
                            <td>{{ row.title }}</td>
                            <td>{{ row.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
        <li><p>Client group: {{ clientGroup.country}} {{ clientGroup.quantity }}</p></li>
        <li><p>Status group: </p>
            <table>
                <thead>
                    <th>Format</th>
                    <th>Status</th>
                    <th>Quantity</th>
                </thead>
                <tbody>
                    {% for row in statusGroup %}
                        <tr>
                            <td>{{ row.format }}</td>
                            <td>{{ row.status }}</td>
                            <td>{{ row.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
        <li><p>Consonant count: {{ consonantCount }} </p></li>
    </ul>
</div>
{% endblock %}
